<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsvl.oneul.jmt.review.JmtReviewMapper">
    <insert id="insReview">
        INSERT INTO o_jmt_review (ijmt, iuser, j_ctnt, j_star)
        VALUES ( #{ijmt}, #{iuser}, #{j_ctnt}, #{j_star})
    </insert>

    <select id="selReviewList" resultType="JmtReviewVo">
        SELECT A.*, B.u_nm AS username
        FROM o_jmt_review A
        LEFT JOIN o_user B
        ON A.iuser = B.iuser
        WHERE A.ijmt = ${ijmt}
        ORDER BY icmt
    </select>

    <select id="selReview" resultType="JmtReviewVo">
        select * from o_jmt_review
        where iuser=#{iuser} and ijmt = #{ijmt}
    </select>

<!--    사진 추가되면 사진도 같이 삭제되도록-->
    <delete id="delReview">
        delete from o_jmt_review
        where icmt = ${icmt} and iuser = ${iuser}
    </delete>

    <update id="updReview">
        update o_jmt_review
        set j_ctnt = #{j_ctnt},j_star = #{j_star}
        where icmt = ${icmt} and iuser = ${iuser}
    </update>
</mapper>