<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsvl.oneul.notice.NoticeMapper">
    <select id="selNoticeList" resultType="NoticeEntity">
        SELECT inotice, n_title, n_rdt, n_hits, n_isdel
        FROM o_notice
        WHERE n_isdel = 0
        ORDER BY inotice DESC;
    </select>

    <select id="selNoticeDetail" resultType="NoticeEntity">
        SELECT n_title, n_ctnt, n_rdt, n_isdel
        FROM o_notice
        WHERE n_isdel = 0
        AND inotice = ${inotice}
    </select>
</mapper>