<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsvl.oneul.user.UserMapper">
    <insert id="join" >
        insert into o_user
        (u_pfnum,u_id,u_pw,u_nm,u_email,u_profileimg)
        values
        (#{u_pfnum},#{u_id},#{u_pw},#{u_nm},#{u_email},#{u_profileimg})
    </insert>

    <select id="selUser" resultType="UserEntity">
        SELECT * FROM o_user
        WHERE u_id = #{u_id}
          AND u_pfnum = #{u_pfnum}
    </select>

    <select id="isZzimFood" resultType="Integer">
        select count(*) from o_zzim_food
        where iuser = ${iuser}
        and ifood = ${ifood}
    </select>

    <insert id="insZzimFood">
        insert into o_zzim_food
        (iuser,ifood)
        values
        (${iuser},${ifood})
    </insert>

    <delete id="delZzimFood">
        delete from o_zzim_food
        where iuser = ${iuser} and ifood = ${ifood}
    </delete>

    <select id="isZzimJmt" resultType="Integer">
        select count(*) from o_zzim_jmt
        where iuser = ${iuser}
          and ijmt = ${ifood}
    </select>
</mapper>