.join-container{
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}
.join-form input{
    padding: 5px 16px;
    border-radius: 30px;
    border: #555555 solid 4px;
    width: 270px;
    height: 40px;
}

.video-join-container{
    width: 700px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.49);
    border-radius: 50px;
}

.join-logo{
    width: 100px;
    height: 100px;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.49);
    width: 70%;

}
.email-domain{
    width: 170px !important;
}
.ipbtn{
    width: 100px !important;
    height: 40px !important;
    border: 0 !important;
    font-size: 15px !important;
}

.email-chk-btn{
    cursor: pointer;
    font-weight: bolder;
    font-size: 10px;
    font-family: "bmh";
    border: 0;
    background-color: #ff4e7f;
    color: white;
    border-radius: 30px;
    width: 100px;
    height: 30px;
}