<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/jmt/jmtreview.css}">
    <script defer th:src="@{/js/jmt/jmtreview.js}"></script>
    <meta charset="UTF-8">
    <title>review</title>
</head>
<th:block layout:fragment="content">
    <section id="review_form_container" class="mt-3">
        <div class="row">
            <div class="warning_msg">별점을 선택해 주세요.</div>
            <div class="rating">
                <!-- 해당 별점을 클릭하면 해당 별과 그 왼쪽의 모든 별의 체크박스에 checked 적용 -->
                <input type="checkbox" name="rating" id="rating1" value="1" class="rate_radio" title="1점">
                <label for="rating1"></label>
                <input type="checkbox" name="rating" id="rating2" value="2" class="rate_radio" title="2점">
                <label for="rating2"></label>
                <input type="checkbox" name="rating" id="rating3" value="3" class="rate_radio" title="3점" >
                <label for="rating3"></label>
                <input type="checkbox" name="rating" id="rating4" value="4" class="rate_radio" title="4점">
                <label for="rating4"></label>
                <input type="checkbox" name="rating" id="rating5" value="5" class="rate_radio" title="5점">
                <label for="rating5"></label>
            </div>
            <div class="col">
                <textarea rows="4"  name="ctnt" class="form-control"></textarea>
            </div>
            <div class="col">
                <button type="button" name="review_submit" class="btn btn-primary">전송</button>
            </div>
        </div>
    </section>
</th:block>
</html>