<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/broad/brdetail.css}">
    <script defer th:src="@{/js/broad/brdetail.js}"></script>
    <meta charset="UTF-8">
    <title>Broad</title>
</head>
<th:block layout:fragment="content">
    <section class="br-bn-container">
        <div class="flex-c-c">
            <img src="/img/br_bnr.png">
        </div>
    </section>
    <section class="br-content-container">
</th:block>
</html>