<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <script defer th:src="@{/js/user/find.js}"></script>
    <meta charset="UTF-8">
    <title>Broad</title>
</head>
<th:block layout:fragment="content">
    <div class="join-email-container" id="emailCheck">
        <span><label>e-mail</label></span>
        <div>
            <input type="text" name="u_email" required>&nbsp;@&nbsp;<input class="email-domain" type="text"
                                                                           name="addres" required>
            <select id="selEmail" onchange="checkemailaddy();">
                <option value="1">직접 입력</option>
                <option value="naver.com">naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="daum.net">daum.net</option>
                <option value="kakao.com">kakao.com</option>
                <option value="bing.com">bing.com</option>
            </select>
        </div>
        <span></span>
        <span><button type="button" class="email-chk-btn" id="email-btn-chk">이메일 확인</button><span
                id="email-chk-msg"></span></span>
        <div id="mailpassword">

        </div>
    </div>

</th:block>