<!--<html lang="ko"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="temp/thymeleaf_layout">-->
<!--<head>-->
<!--    <script defer th:src="@{/js/user/mail.js}"></script>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Broad</title>-->
<!--</head>-->
<!--<th:block layout:fragment="content">-->
<!--<div>-->
<!--    <input type="text" value="ju39001@naver.com" id="mailaddress">-->
<!--    <input type="button" value="start" id="mailBtn">-->
<!--</div>-->

<!--</th:block>-->