<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script defer th:src="@{/js/user/password.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block layout:fragment="content">
    <section class="login-container flex-c-c">
    <div class="video-login-container ">
        <h1>비밀번호 변경</h1>
        <form th:action="@{/user/password}" method="post" id="change">
            <div><label>현재 비밀번호 : <input type="password" name="currentupw" required></label></div>
            <div><span id="current-chk-msg"></span></div>
            <div><label>변경 비밀번호 : <input type="password" name="u_pw" required></label></div>
            <div><span id="upw-chk-msg"></span></div>
            <div><label>확인 비밀번호 : <input type="password" name="chkupw" required></label></div>
            <div><span id="upwchk-chk-msg"></span></div>
            <div><input type="submit" value="변경" id="submitBtn"></div>
        </form>
    </div>
</section>
</th:block>
