<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet"  href="/css/season/sslist.css">
    <script defer th:src="@{/js/season/sslist.js}"></script>
    <meta charset="UTF-8">
    <title>season</title>
</head>
<th:block layout:fragment="content">
    <section class="ss-bn-container">
        <div class="flex-c-c">
            <img src="/img/ss_bn.png"> <!--계절별맛집 배너 이미지-->
        </div>
    </section>
    <section class="ss-content-container">
        <div class="flex-c-r g100"> <!--계절 이름 띄우기-->
            <span th:each="item : ${f_season}" class="season_title">
                <div class="season_nm" th:text="${item.keyNm}"></div>
                <input type="hidden" class="season_num" th:value="${item.keyValue}">
            </span>
        </div>

        <div> <!--계절별에 맞는 메뉴 띄우기-->
            <div class="line" id="season_icon"></div>
            <div class="flex-c-c">
                <div class="flex-c-c">
                    <section class="flex">
                        <img id="img_list" src="">
                    </section>
                    <table id="season_list_table"></table>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>