/*메인*/
.main-container{
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-top: 100px;
    padding: 0 100px;
    margin-bottom: 200px;
}
/*배너*/
.bn-container {

}
.bn .swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}

/*.bn-button-next {*/
/*    background: url("/res/img/con_go.png") no-repeat;*/
/*    background-size: 170%;*/
/*    background-position: center;*/
/*}*/

/*.bn-button-prev {*/
/*    background: url("/res/img/con_back.png") no-repeat;*/
/*    background-size: 170%;*/
/*    background-position: center;*/
/*}*/
.bn .swiper-slide img{
    max-width:100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bn .swiper-pagination{
    bottom: auto;
}
.bn .swiper-button-prev{
    background: url("/res/img/con_back.png") no-repeat;
    background-size: 100%;
    top:auto;
}
.bn .swiper-button-next{
    background: url("/res/img/con_go.png") no-repeat;
    background-size: 100%;
    top:auto;
}

.bn .swiper-button-next::after,
.bn .swiper-button-prev::after {
    display: none;
}
.bn .swiper-pagination-clickable .swiper-pagination-bullet{
    background-color: #fa6e6e;
}

/*배너끝*/


/*
음식추천
*/
.foodrd{

}
.rdfood-main{

}
.rdfood-list{
    display: grid;
    grid-template-columns: repeat(4,minmax(200px,400px));
    place-items:center;
    margin: 0;
    padding: 0;
}
.bg{ /*투명배경*/
    background-color:rgba(0, 0, 0, 0.5);
    width:100%;
    height: 100%;
    position: absolute;
}

.rdfood-img rdfood-text{
    position: relative;
    z-index: 1000;
}

.main-btn-box{
    padding: 10px 0;
    width: 200px;
    background-color: #ff4e7f;
    color: white;
    border: 2px solid #ff4e7f;
    border-radius: 30px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.main-btn-box i{
    margin-bottom: 5px;
}

#foodRe{
    transition: all ease 1s;
}
.main-btn-box span{
    font-weight: bolder;
}

.rdfood-info{
    font-weight: bolder;
}

/*
맛집추천
*/
.rdfood-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridlist-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rcrest-list{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    place-items:center;
    margin: 0;
    padding: 0;
}
.rcrest-img{
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
.rcrest-span-nm{
    font-weight: bolder;
}

.rcrest-span-fd{
    font-size: 13px;
    font-weight: bolder;
}
#jmtGo{

}

#jmtGo:hover {
    transition: all ease 1s;
    transform: translateX( 40px );
}
.jmt-btn-box{
    padding: 10px 30px;
    width: 200px;
    color: white;
    background-color: #ff4e7f;
    border-radius: 50px;
    margin-top: 100px;
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    align-items: center;
}
/*
방송별 css
*/
.broad .swiper-container {
    width: 1300px;
    height:300px;
    border:5px solid #ff4e7f;
    border-radius:50px;
    /*box-shadow:0 0 10px #fa6e6e inset;*/
}
.broad .swiper-slide {
    text-align:center;
    display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items:center; /* 위아래 기준 중앙정렬 */
    justify-content:center; /* 좌우 기준 중앙정렬 */
}
.broad .swiper-slide img {
    border-radius:150px;
    border: 1px solid white;
    height: 225px;
    width: 225px;
    max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}
.broad .swiper-button-next {
    background: url("/img/con_go.png") no-repeat;
    background-size: 170%;
    background-position: center;
}

.broad .swiper-button-prev {
    background: url("/img/con_back.png") no-repeat;
    background-size: 170%;
    background-position: center;
}

.broad .swiper-button-next::after,
.broad .swiper-button-prev::after {
    display: none;
}
/*
계절,술 추천
*/
.sa-title-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
}

.sa-list fieldset{
    height: 70px;
    background-color: #ff4e7f;
    padding: 20px 30px;
    border-radius: 50px;
}
.sa-list fieldset label{
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: 60px;
    height: 50px;
    border-radius: 40px;
}

.sa-list .a-chk{
    background-color: white;
    color: black;
}
.sa-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sa-list img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.s-text{
    padding: 20px 30px;
    gap: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ff4e7f;
    border-radius: 50px;
}
.ss-list ,.ac-list{
    display: grid;
    justify-items: center;
    gap: 40px;
    width: 700px;
    height: 600px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.sa-list .jmt-btn-box{
    padding: 10px 30px;
    width: 200px;
    color: white;
    background-color: #ff4e7f;
    border-radius: 50px;
    margin-top: 100px;
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    align-items: center;
}
