<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="temp/thymeleaf_layout">
<head>
    <link rel="stylesheet" th:href="@{/css/alc/alclist.css}">
    <script defer th:src="@{/js/alc/alclist.js}"></script>
    <meta charset="UTF-8">
    <title>Alc</title>
</head>
<th:block layout:fragment="content">
    <section class="alc-bn-container">
        <div class="flex-c-c">
            <img src="/img/alc_bn.png">
        </div>
    </section>
    <section class="alc-content-container">
</th:block>
</html>