<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <span id="globalConst" sec:authorize="isAuthenticated()" th:with="auth=${#authentication.getPrincipal().getUser()}"
          th:attr="data-iuser=${auth.iuser}, data-writer=${auth.u_nm}, data-writer-profile=${auth.u_profileimg},data-pfnum=${auth.u_pfnum}"></span>
    <!--                    <div sec:authentication="principal.username"></div>-->
    <header class="bg-pink hg-100">
        <section class="header-logo ">
            <div class="mr50">
                <a href="/"><img class="sizeLogo" src="/img/logo_white.png"></a>
            </div>
            <div class="flex-c-r g30">
                <div><a href="/food">오늘의 음식</a></div>
                <div><a href="/jmt">오늘의 맛집</a></div>
                <div><a href="/tv/1">TV 맛집</a></div>
                <div><a href="/season">계절별 음식</a></div>
                <div><a href="/alc">술 페어링</a></div>
            </div>
        </section>
        <section class="header-user g50">
            <div class="search-box">
                <button class="search-btn"><i class="fas fa-search"></i></button>
                <input type="text" placeholder="맛집이름을 검색해주세요!">
            </div>
            <th:block sec:authorize="isAuthenticated()">
                    <a class="flex-c-r" href="/user/logout">로그아웃</a>
                    <a class="flex-c-r" href="/user/profile">마이페이지</a>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                    <a class="flex-c-r" href="/user/login">로그인</a>
                    <a class="flex-c-r" href="/user/join">회원가입</a>
            </th:block>
        </section>
    </header>
</th:block>
<th:block th:fragment="footer">
    <div class="copy-right">
        <div><div class="line"><i class="fa-regular fa-copyright"></i></div></div>
        <div class="copy-content-box">
            <div class="flex-c-r">
                <span class="flex-c-r">오늘 뭐먹을지 고민하는 세상 모든사람을 위해</span>
            </div>
            <div class="flex-c-r">
                <span>presented by Team_GSVL</span>
            </div>
        </div>
        <div class="copy-text">Copyright 2018. HandMade all rights reserved.</div>
    </div>
</th:block>
</html>